html {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #0f82c9;
}

a:hover {
  font-weight: 500;
  color: #0f82c9;
}

.lp a {
  color: white;
}

.lp {
  background-color: #0f82c9;
  margin: 0;
  padding: 0;
}

.lp main {
  color: white;
}

.lp .hero {
  margin: 0px;
  height: 330px;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(#0f82c9a3, #0f82c9), url(/images/hero.jpg);
}

.hero-text {
  color: white;
}
.main-links {
  text-align: center;
}

.main-links .main-icon {
  font-size: 96px;
}

/* .contribute a {
    font-weight: 600;
    padding: 5px;

} */

.card-image {
  max-height: 270px;
  object-fit: cover;
}
